
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 14px;
	margin-top: 5px;
	line-height: 25px;
	font-weight: 300;
	
}
.section-title {
	font-size: 40px;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	border: 2px solid coral;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 30px;
	
}
.btn:hover {
	color: white;
	background-color: coral;
}
/* Header section */
header {
    line-height: 50px;
    text-align: center;
    font-family: sans-serif;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: auto;
}
 header .brand {
    width: auto;
    height: 100%;
    float: left;
	margin: 0 0 0 20px;
	text-transform: uppercase;
	color: coral;
	font-size: 20px;
}
header li {
	
	list-style: none;
	color:#fff;
	text-transform: uppercase;
	font-size: 15px;
	
}

.menu {
    width: 60%;
    height: 100%;
	float: right;
	margin: 0 20px;
	
}
.menu ul {
    width: 100%;
    margin: 0;
    padding: 0;  
	display: flex;             
}
.menu ul a {
    width: 25%;
    display: inline-block;
}
.menu ul a:hover {
    background-color: coral;
    color: #fff;
}
#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}

/* Showcase Section */
#showcase {
	background-image: url(./img/showcase.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#showcase::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .4;
	z-index: -1;
}
#showcase .showcase {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#showcase h1 {
	display: block;
	width: fit-content;
	font-size: 40px;
	position: relative;
	color: #fff;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
	text-transform: uppercase;
}
#showcase h1:nth-child(1) {
	animation-delay: 1s;
}
#showcase h1:nth-child(2) {
	animation-delay: 2s;
}

#showcase h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: coral;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#showcase h1:nth-child(1) span {
	animation-delay: .5s;
}
#showcase h1:nth-child(2) span {
	animation-delay: 1.5s;
}


/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	
	
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
	
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-bottom .icon:hover img {
	transform: scale(1.8);
}
#services .service-item h2 {
	font-size: 20px;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 40px;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 15px;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .7;
}
#projects .project-img img {
	transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}


/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .btn {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 20px;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}





/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
}
#footer h1 {
	color: white;
	font-weight: 500;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer p {
	color: white;
	font-size: 12px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}

/* Keyframes */

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}



/* Media Query  */
@media only screen and (min-width: 768px) {
	.btn {
		font-size: 25px;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 60px;
	}

	
	#showcase h1 {
		font-size: 7rem;
	}
	
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}

}



@media only screen and (min-width: 1200px) {
	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}


/* Media Query Header */
@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
    }
    .menu ul {
        display: block;
		max-height: 0;
    	overflow: hidden;
    	transition: max-height 0.3s;
        
    }
    .menu ul a {
        text-align: left;
        width: 100%;
        height: 50px;
        padding: 10px 0px 0px 60px;
    }
    .menu-icon {
        width: 100px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;
    }
    #menuToggle:checked ~ ul {
        max-height: 350px;
        
    }
    .menu-icon i {
        font-size: 1.7em;
	}
	.menu ul a:hover {
		background-color: coral;
		color: #fff;
	}
}
